/* タブレット */
@media all and (max-width: 1000px) {
    .main {
      width: 50%;
      margin: 50px auto;
    }
  
    footer {
      text-align: center;
    }
  
    .top-wrapper h1 {
      font-size: 32px;
    }
  
    .heading h2 {
      font-size: 20px;
    }

  }
  
  /* スマホ */
  @media all and (max-width: 670px) {
    .main {
      width: 100%;
      margin: 0 auto;
    }
  
    .btn {
      width: 100%;
    }
  
    .facebook {
      margin-bottom: 10px;
    }
    
    .top-wrapper {
      text-align: left;
    }
    
    .header-right {
      display: none;
    }
    
    .menu-icon {
      display: block;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
    }
  
    .top-wrapper p {
      font-size: 14px;
    }

  }